@import url(https://fonts.googleapis.com/css?family=Nunito);

   html, body {
                background-color: #fff;
                color: #636b6f;
                font-family: 'Nunito', sans-serif;
                font-weight: 200;
                height: 100vh;
                margin: 0;
            }

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.titulo-principal{
font-size: 18px;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



.preview{

width: 120px;
height: 120px;

}


.margin-bottom-none{

	margin-bottom: 0px;
	margin: none;
	padding-bottom: none;
	padding: none;



}


.freeze  {
    border: 2px dotted black;
    padding: 15px;

    background-clip: padding-box;


  }
.borde-burble{

  border-radius: 11px;
}


.bold  {
   font-weight: bold;
}


.proyecto-min {
 font-size: 14px;
 margin:auto;

}



      #button-collapse{
      	border: 1px;
margin-top: -20px;
border-radius: 50%;

      }

      .margin-bottom-none{
      	margin-bottom: 0px;
      }


   .tarea {

     margin:auto;
                  }


            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 84px;
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                margin-bottom: 30px;
            }

            .proyecto-lg{


            }

            .text-top-right{

            	margin-top: none;
            	padding-top: none;
            }
            .tarea {

            	margin-bottom: 0px;
            	padding-bottom: none;
            }

                  .comentarios-proyecto{

         font-size: 13px;
            }

               .btn-proyecto{

   position: absolute;
   margin: 0px;
   padding:none;
            }








/*LOADER*/






.loader-sm {
width: 30px;
height: 30px;

  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  display: none;
  -webkit-animation: spin 0.600s linear infinite; /* Safari */
  animation: spin 0.600s linear infinite;
}






.loader-lg {

  width: 80px;
  height: 80px;
margin-top: 12%;
margin-left: 40%;
 
  border: 7px solid #f3f3f3;
  border-radius: 50%;
  border-top: 7px solid #3498db;
position: fixed;

 display: inline-block;
-webkit-animation: spin 2s linear infinite; /* Safari */
animation: spin 2s linear infinite;



}




.loader {



  z-index: 102;




}







/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/*LOADER*/