@import url(https://fonts.googleapis.com/css?family=Nunito);

   html, body {
                background-color: #fff;
                color: #636b6f;
                font-family: 'Nunito', sans-serif;
                font-weight: 200;
                height: 100vh;
                margin: 0;
            }

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.titulo-principal{
font-size: 40px;
}

.imagen-tarea
{
 


}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



.preview{

width: 120px;
height: 120px;

}


.margin-bottom-none{

	margin-bottom: 0px;
	margin: none;
	padding-bottom: none;
	padding: none;



}


.freeze  {
    border: 2px dotted black;
    padding: 15px;

    background-clip: padding-box;


  }
.borde-burble{

  border-radius: 11px;
}

.bar{
margin-left: 0px;
padding-left: none;

 width: 8px; 
 height: 15px; 
background: #428bca;
}

.bold  {
   font-weight: bold;
}

.fecha-xs {
 font-size: 15px;
 margin:auto;

}



.titulo-espera {

margin-top: 15px;

}
.empresa-min {
 font-size: 14px;
 margin:auto;

}

.proyecto-min {
 font-size: 15px;
 margin:auto;

}
#button-collapse{
border: 1px;
margin-top: -20px;
border-radius: 50%;
}


.button-absolute{
border: 1px;
margin-top: -20px;
border-radius: 50%;
}

      .margin-bottom-none{
      	margin-bottom: 0px;
      }




            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 84px;
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                margin-bottom: 30px;
            }

            .proyecto-lg{


            }

            .text-top-right{

            	margin-top: none;
            	padding-top: none;
            }
        

                  .comentarios-proyecto{

         font-size: 13px;
            }

               .btn-proyecto{

   position: absolute;
   margin: 0px;
   padding:none;
            }

.iconos{
font-size: 15px;
}


.boton-overlay2{
padding-top: 10%;
 
}

.boton-overlay{

  margin-top:38%;   margin-left: 35%;
}

 .amarilo{
color:  #ffad43;
}
 .azul{
color:  #ffad43;
}

 .rojo{
color:  #E60026;
}

 .verde{
color:  #2d572c;
}



.zoom-panel {
transition: transform .2s;
z-index: 1000;
}

.zoom-panel:hover {
  z-index: 2000;
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}




.zoom {
transition: transform .2s;

margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(3.0); /* IE 9 */
  -webkit-transform: scale(3.0); /* Safari 3-8 */
  transform: scale(3.0); 
}





.ALTA {
margin-bottom: 1px;
border-radius: 20px;
border-top: 1px solid #D3D3D3;
border-right: 1px solid #D3D3D3;
border-bottom: 1px solid #D3D3D3;
border-left: 6px solid #E60026;
font-size: 13px;
margin:auto;
margin-bottom: 0px;
padding-bottom: none;
}

.MEDIA{
margin-bottom: 1px;
border-radius: 20px;
border-top: 1px solid #D3D3D3;
border-right: 1px solid #D3D3D3;
border-bottom: 1px solid #D3D3D3;
border-left: 6px solid #ffad43;
font-size: 13px;
margin:auto;
margin-bottom: 0px;
padding-bottom: none;
}

.BAJA{
margin-bottom: 1px;
border-radius: 20px;
border-top: 1px solid #D3D3D3;
border-right: 1px solid #D3D3D3;
border-bottom: 1px solid #D3D3D3;
border-left: 6px solid #008001;
font-size: 13px;
margin:auto;
margin-bottom: 0px;
padding-bottom: none;
}





.margin-none{
  padding-left: 4px;
margin:0px;
}


.img-group{

margin-top: 0px;
padding-top: none;

}

.ghost {
  opacity: .5;
  background-color: red;
}



.item[aria-grabbed="true"]
{
  background:#5cc1a6;
  color:#fff;
}





/*





.item {
  display:block;
  list-style-type:none;
  margin:0 0 2px 0;
  padding:0.2em 0.4em;
  border-radius:0.2em;
  line-height:1.3;
}
.item:hover {
  box-shadow:0 0 0 2px #68b, inset 0 0 0 1px #ddd;
}
.item:focus
{
  outline:none;
  box-shadow:0 0 0 2px #68b, inset 0 0 0 1px #ddd;
}

.item[aria-grabbed="true"]
{
  background:#5cc1a6;
  color:#fff;
}
*/

#EnProceso{

  display: block;
}

@keyframes nodeInserted {
    from { opacity: 0.1; }
    to { opacity: 0.4; }
}

.item-dropzone-area {
    height: 2rem;
    background: #888;
    opacity: 0.8;
    animation-duration: 0.5s;
    animation-name: nodeInserted;
}